:root {
    --blue-color: #00509B;
    --green-color: #0D9B00;
    --red-color: #F50004;
    --gray-one: #D9D9D9;
    --gray-two: #9D9D9D;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 100px 0;
    gap: 48px;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    font-size: 32px;
}

p {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 72px;
    width: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 52px;
    justify-content: center;
    align-items: center;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.game-board {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.spot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-color: var(--gray-one);
    border-radius: 20px;
}

.spot:hover {
    background-color: var(--gray-two);
}

button.restart {
    background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    font-size: 32px;

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 52px;
    background-color: var(--red-color);
    border-radius: 16px;
}

.X {
    background-color: white;
}

.O {
    background-color: white;
}